<div class="row">
    <p-toast position="center" key="tl"></p-toast>
    <p-table 
        #dt1
        [value]="listHistory"
        dataKey="IdFactura"
        styleClass="p-datatable-customers"
        [rows]="5"
        [paginator]="true" 
        stateStorage="local" 
        stateKey="statedemo-local">
        <ng-template pTemplate="caption">
            <div style="text-align: right;">
                <button pButton label="Agendar" class="p-button-outlined" icon="pi pi-filter-slash" (click)="displayRegisterAgenda = true"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>                                        
                <th pSortableColumn="IdAgenda">Id Agenda<p-sortIcon field="IdAgenda"></p-sortIcon></th>
                <th pSortableColumn="Deportista">Deportista<p-sortIcon field="Deportista"></p-sortIcon></th>
                <th pSortableColumn="Ejercicio">Ejercicio<p-sortIcon field="Ejercicio"></p-sortIcon></th>
                <th pSortableColumn="Fecha">Fecha<p-sortIcon field="Fecha"></p-sortIcon></th>
                <th pSortableColumn="Hora">Hora<p-sortIcon field="Hora"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <input
                        pInputText
                        type="text"
                        (input)="dt1.filter($event.target.value, 'IdAgenda', 'contains')" 
                        [value]="dt1.filters['IdAgenda']?.value" 
                        placeholder="Buscar por Id" 
                        class="p-column-filter">
                </th>
                <th>
                    <input
                        pInputText
                        type="text"
                        (input)="dt1.filter($event.target.value, 'Deportista', 'contains')"
                        [value]="dt1.filters['Deportista']?.value"
                        placeholder="Buscar por Deportista"
                        class="p-column-filter">
                </th>
                <th>
                    <input 
                        pInputText type="text" 
                        (input)="dt1.filter($event.target.value, 'Ejercicio', 'contains')" 
                        [value]="dt1.filters['Ejercicio']?.value" 
                        placeholder="Buscar por Ejercicio" 
                        class="p-column-filter">
                </th>
                <th>
                    <input 
                        pInputText type="text" 
                        (input)="dt1.filter($event.target.value, 'Fecha', 'contains')" 
                        [value]="dt1.filters['Fecha']?.value" 
                        placeholder="Buscar por Fecha" 
                        class="p-column-filter">
                </th>
                <th>
                    <input 
                        pInputText type="text" 
                        (input)="dt1.filter($event.target.value, 'Hora', 'contains')" 
                        [value]="dt1.filters['Hora']?.value" 
                        placeholder="Buscar por Hora" 
                        class="p-column-filter">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-listHistory>
            <tr [pSelectableRow]="listHistory">
                <td>                  
                    {{listHistory.IdAgenda}}
                </td>
                <td>
                    {{listHistory.Deportista}}
                </td>
                <td>
                    {{listHistory.Ejercicio}}
                </td>
                <td>
                    {{listHistory.Fecha | date }}
                </td>
                <td>
                    {{listHistory.Hora}}
                </td>                
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No se encontraron registros.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog
  header="Agendar" 
  [(visible)]="displayRegisterAgenda"
  [modal]="true" 
  [style]="{width: '80vw'}" 
  [baseZIndex]="10000" 
  [draggable]="false" 
  [resizable]="false"
  [closable]="false">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-success">                
        <div class="row">
          <div class="col-md-12">
            <div class="card card-success">                
                <div class="card-body">
                    <form [formGroup]="myForm">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <h6>Tipo de Ejercicio</h6>
                                    <div class="form-group">                                      
                                      <select 
                                          id="IdTipoEjercicio"
                                          class="form-control" 
                                          formControlName="IdTipoEjercicio"
                                          [ngClass]="{ 'is-invalid': f.IdTipoEjercicio.invalid && (f.IdTipoEjercicio.dirty || f.IdTipoEjercicio.touched) }">
                                          <option value="">--seleccione--</option>
                                          <option *ngFor="let item of liTiposDep" [value]="item.IdTipoEjercicio">{{ item.Ejercicio }}</option>
                                      </select>
                                      <div *ngIf="f.IdTipoEjercicio.errors && (f.IdTipoEjercicio.dirty || f.IdTipoEjercicio.touched)" class="invalid-feedback">
                                        <div>El tipo de ejercicio es requerido</div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <h6>Fecha</h6>                                    
                                         <!-- dateFormat="dd.mm.yy" -->
                                         <p-calendar
                                            [readonlyInput]="true"
                                            class="datapicker-width"
                                            formControlName="Fecha"
                                            [ngClass]="{ 'is-invalid': f.Fecha.invalid && (f.Fecha.dirty || f.Fecha.touched) }">
                                        </p-calendar>                                         

                                    <div *ngIf="f.Fecha.errors && (f.Fecha.dirty || f.Fecha.touched)" class="invalid-feedback">
                                        <div>La fecha es requerida</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <h6>Hora</h6>
                                    <input 
                                        id="Hora" 
                                        type="time" 
                                        class="form-control" 
                                        formControlName="Hora"
                                        [ngClass]="{ 'is-invalid': f.Hora.invalid && (f.Hora.dirty || f.Hora.touched) }" />                                    
                                    <div *ngIf="f.Hora.errors && (f.Hora.dirty || f.Hora.touched)" class="invalid-feedback">
                                        <div>La hora es requerida</div>
                                    </div>
                                </div>
                            </div>                    
                      </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <p-footer>                
    <button type="button" pButton (click)="displayRegisterAgenda=false;" label="Cerrar" class="ui-button-secondary"></button>            
    <!-- [disabled]="!myForm.valid" -->
    <!-- (click)="saveUser();" -->
    <button type="button" pButton icon="pi pi-check" (click)="insert();" label="Agendar"></button>
  </p-footer>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<!-- <ngx-ui-loader></ngx-ui-loader> -->
<p-toast></p-toast>